@tailwind base;
@tailwind components;
@tailwind utilities;



.ck-p-m > p {
  margin: 0px !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  white-space: normal;
}
